<%= simple_form_for(@search) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :keyword %>
    <%= f.collection_select :category_id, Category.order(:name),:id, :name, :prompt => "Select a category" %><br>
    <%= f.collection_select  :age_ids, Age.order(:name), :id, :name ,{:selected => :age_ids, :include_blank => true}, {:multiple => true} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
